/*
 * Common
 */

.section {
  margin: 0 auto;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

.pentagon-container {
  position: absolute;
  left: 0;
  right: 0;
  overflow-y: hidden;
  z-index: -1;
  padding: 100px;
  user-select: none;
  pointer-events: none;
}

.pentagon-shift {
  position: relative;
  top: -200px;
  left: -32px;
  user-select: none;
  pointer-events: none;
}

@media (max-width: 996px) {
  .pentagon-shift {
    position: static;
  }
}

@media (max-width: 996px) {
  .pentagon-container-small-hide {
    display: none;
  }
}

@media (max-width: 1300px) {
  .pentagon-container-medium-hide {
    display: none;
  }
}

.pentagon-position {
  position: absolute;
  transform: translate3d(0, -20%, 0);
  user-select: none;
  pointer-events: none;
}

.title {
  margin-top: 5em;
  margin-bottom: 5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10em;
  text-align: left;
}

.title-center {
  margin-left: auto;
  margin-right: auto;
}

.title-right {
  align-items: flex-end;
  margin-right: 10em;
  margin-left: 0;
  text-align: right;
}

.title-heading {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
  max-width: 700px;
}

.title-subheading {
  max-width: 13em;
  margin-top: 1em;
  font-size: 1.25rem;
  line-height: 1.25;
  color: var(--ifm-color-content-secondary);
}

.title-subheading a {
  color: var(--ifm-color-content-secondary);
  text-decoration: var(--ifm-link-hover-decoration);
}

@media (max-width: 1600px) {
  .title-right {
    margin-right: 5em;
  }
}

@media (max-width: 996px) {
  .title {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0em;
  }

  .title-right {
    margin-right: 0em;
  }

  .title-heading {
    font-size: 2.5rem;
  }

  .title-subheading {
    font-size: 1.1rem;
  }
}

.drawing {
  position: absolute;
  left: 0;
  right: 0;
  user-select: none;
  pointer-events: none;
}

.drawing-image {
  width: 40%;
  max-width: 600px;
}

@media (max-width: 1300px) {
  .drawing {
    position: static;
    margin-top: 3em;
    margin-bottom: 3em;
  }

  .drawing-image {
    width: 50%;
  }
}

@media (max-width: 996px) {
  .drawing-image {
    width: 80%;
  }
}

/*
 * Welcome Section
 */

.welcome-section {
  margin-top: 0;
  max-width: 800px;
}

.logo {
  position: absolute;
  right: 20%;
  top: 270px;
  width: 350px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .2));
}

@media (max-width: 996px) {
  .logo {
    position: static;
    margin: 0 auto;
    width: 300px;
  }
}

@media (max-width: 500px) {
  .logo {
    width: 250px;
  }
}

/*
 * Zoo Section
 */

.zoo-section {
  margin-top: 15em;
  margin-bottom: 10em;
}

@media (max-width: 996px) {
  .zoo-section {
    margin-top: 0;
  }
}

.zoo {
  display: flex;
  justify-content: center;
}

.zoo-title {
  margin-top: 0;
  text-align: center;
  font-family: 'Metamor Bit';
  letter-spacing: 12px;
  font-size: 30px;
  line-height: 1;
  color: var(--ifm-color-black);
}

@media (max-width: 540px) {
  .zoo-title {
    font-size: 20px;
    letter-spacing: 10px;
  }
}

.zoo-about {
  color: var(--ifm-color-black);
  margin-top: 1em;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Metamor Bit';
  letter-spacing: 2px;
  font-size: 15px;
  line-height: 1.25;
}

.zoo-about a {
  color: var(--ifm-color-black);
  text-decoration: underline;
}

.zoo-gameboy {
  padding: 2em;
  width: 511px;
  background-color: #c8ffaf;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 996px) {
  .zoo-gameboy {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.zoo-inner {
  padding: 20px;
  background-image: url('/images/game-background.jpg');
  background-size: contain;
  background-position: center;
  box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  height: 336px;
  overflow: hidden;
}

[data-theme='dark'] .zoo-inner {
  background-image: url('/images/game-background-night.png');
}

@media (max-width: 996px) {
  .zoo-inner {
    background-size: 110%;
  }
}

@media (max-width: 500px) {
  .zoo-inner {
    background-size: 210%;
  }
}

/*
 * Intermission!
 */

.red-pandas {
  display: block;
  margin: 10em auto;
  max-width: 500px;
}

@media (max-width: 996px) {
  .red-pandas {
    width: 80%;
  }
}

.many-pandas {
  display: block;
  margin: 0 auto;
  margin-top: 10em;
  max-width: 800px;
  width: 100%;
}

@media (max-width: 1300px) {
  .many-pandas {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.separator {
  border: 0;
  background: transparent;
  margin-top: 30em;
}

@media (max-width: 1300px) {
  .separator {
    display: none;
  }
}

/*
 * Play section
 */

.play-section {
  text-align: right;
  max-width: 800px;
}

.happy-panda {
  transform: scaleX(-1);
}

