.app {
  text-align: center;
  width: 100%;
  margin: 40px auto;
  max-width: 800px;
  border-radius: 20px;
  border: #60b9cd 10px solid;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.app h1,
.app h2,
.app h3 {
  text-align: center;
}

.app h1 {
  font-size: 50px;
  margin: 0;
}

.app h2 {
  font-size: 20px;
}

.app input[type='submit'],
.app button {
  padding: 10px;
  outline: 0;
  border: 0;
  border-radius: 3px;
  background-color: #6bd595;
  cursor: pointer;
}

.app input[disabled] {
  background-color: #efefef;
  color: #666;
  cursor: default;
}

.app fieldset {
  border: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.app label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.app textarea,
.app input[type='text'],
.app input[type='number'] {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  font-family: monospace;
  border: #6bd595 2px solid;
}

.app label span {
  font-weight: 400;
  cursor: pointer;
}

.public-key {
  text-align: center;
}

.error {
  border: rgb(146, 0, 49) solid;
}

.success {
  border: rgb(0, 146, 44) solid;
}

.success,
.error {
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  max-height: 100px;
  overflow: scroll hidden;
}
