@font-face {
  font-family: "Covik Sans Mono";
  src: url('/fonts/Covik_Sans_Mono-Regular.woff2') format('woff2'),
       url('/fonts/Covik_Sans_Mono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Covik Sans Mono";
  src: url('/fonts/Covik_Sans_Mono-Italic.woff2') format('woff2'),
       url('/fonts/Covik_Sans_Mono-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Covik Sans Mono";
  src: url('/fonts/Covik_Sans_Mono-Medium.woff2') format('woff2'),
       url('/fonts/Covik_Sans_Mono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Covik Sans Mono";
  src: url('/fonts/Covik_Sans_Mono-Medium_Italic.woff2') format('woff2'),
       url('/fonts/Covik_Sans_Mono-Medium_Italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Covik Sans Mono";
  src: url('/fonts/Covik_Sans_Mono-Semibold.woff2') format('woff2'),
       url('/fonts/Covik_Sans_Mono-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Covik Sans Mono";
  src: url('/fonts/Covik_Sans_Mono-Semibold_Italic.woff2') format('woff2'),
       url('/fonts/Covik_Sans_Mono-Semibold_Italic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Covik Sans Mono";
  src: url('/fonts/Covik_Sans_Mono-Bold.woff2') format('woff2'),
       url('/fonts/Covik_Sans_Mono-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Covik Sans Mono";
  src: url('/fonts/Covik_Sans_Mono-Bold_Italic.woff2') format('woff2'),
       url('/fonts/Covik_Sans_Mono-Bold_Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Metamor Bit";
  src: url('/fonts/MetamorBit.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url('/fonts/IBMPlexMono-Regular-Latin1.woff2') format('woff2'),
       url('/fonts/IBMPlexMono-Regular-Latin1.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url('/fonts/IBMPlexMono-Bold-Latin1.woff2') format('woff2'),
       url('/fonts/IBMPlexMono-Bold-Latin1.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

:root {
  --ifm-font-family-base: 'Covik Sans Mono';
  --ifm-font-family-monospace: 'IBM Plex Mono';
  --ifm-heading-font-weight: 700;
  --ifm-color-primary: #7e8eff;
  --ifm-color-primary-dark: #586dff;
  --ifm-color-primary-darker: #455cff;
  --ifm-color-primary-darkest: #0c2aff;
  --ifm-color-primary-light: #a4afff;
  --ifm-color-primary-lighter: #b7c0ff;
  --ifm-color-primary-lightest: #f0f2ff;
  --ifm-card-background-color: var(--ifm-color-gray-100);
  --ifm-code-font-size: 95%;
  --ifm-toc-border-color: transparent;
  --ifm-footer-background-color: transparent;
  --ifm-footer-color: #666;
  --ifm-alert-shadow: 0;
  --ifm-alert-border-radius: 0;
  --ifm-code-padding-horizontal: 5px;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --ifm-card-background-color: var(--ifm-background-surface-color);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Somehow setting --ifm-toc-border-color gets ignored in dark mode, we have to
 * enforce removing borders manually */
[data-theme='dark'] aside,
[data-theme='dark'] .table-of-contents {
  border: 0 !important;
}

/* The background color of Cards and Avatars also seem to be broken when
 * switching to dark mode, let's enforce it here */
[data-theme='dark'] .avatar,
[data-theme='dark'] .card {
  background-color: rgb(36, 37, 38) !important;
}

/* Utils */

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Navbar */

.navbar__sidebar,
.navbar-sidebar__brand,
.navbar {
  box-shadow: none;
}

.navbar__item {
  font-weight: 600;
}

@media (max-width: 996px) {
  .navbar__logo {
    display: none;
  }

  .navbar__toggle .navbar__logo,
  .navbar-sidebar__brand .navbar__logo {
    display: block;
  }
}

/* Icon */

.panda-icon {
  font-size: 1.1rem;
}

.panda-icon-home {
  font-size: 1.1rem;
}
