.emoji-box {
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  background-color: var(--ifm-card-background-color);
}

.emoji-box-icon {
  border-radius: 0;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
