.image-frame {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.image-frame-inner {
  background-color: var(--ifm-color-gray-100);
  border-radius: 10px;
}

.image-frame img {
  width: 100%;
  max-width: 600px;
  padding: 3em;
}

.image-frame-title {
  color: var(--ifm-color-gray-600);
}
