.image-frame {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.image-frame-inner {
  background-color: var(--ifm-color-gray-100);
  border-radius: 10px;
}

[data-theme='dark'] .image-frame-inner {
  background-color: var(--ifm-color-gray-600);
}

.image-frame img {
  width: 100%;
  max-width: 600px !important;
  padding: 5em;
}

@media (max-width: 500px) {
  .image-frame img {
    padding: 2em;
  }
}

.image-frame-title {
  margin-top: 0.5em;
  color: var(--ifm-color-gray-600);
}
